.container {
    display: none;
    flex-direction: column;
    position: relative;
    align-self: center;
    width: 80%;
    margin: 10px 0px 20px 0px;
}
.container.show {
    display: flex;
}

.miniBlock {
    display: flex;
    width: 70%;
    margin-bottom: 20px;
}
.label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
}
.error {
    font-size: 12px;
    color: rgb(229, 110, 110);
    font-weight: normal;
}
.input {
    font-size: 16pt;
    padding: 5px 8px;
    margin-top: 5px;
}
.input:focus {
    outline: none;
}
.inputBio {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    font-size: 14pt;
    font-family: "Nunito", sans-serif;
    padding: 5px 8px;
}
.inputBio:focus {
    outline: none;
}


@media only screen and (max-width: 530px) {
    .container {
        width: 90%;
    }
    .miniBlock {
        width: 100%;
    }
    .label {
        font-size: 20px;
    }
    .input {
        font-size: 14pt;
    }
}