.container {
    flex-direction: column;
    align-items: center;
    position: relative;
    display: none;
    padding: 10px 0px 20px 0px;
}
.container.show {
    display: flex;
}

.avatar {
    border-radius: 50%;
}

.avatarOverlay {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 150px;
    align-items: flex-end;
    border-radius: 50%;
    background-color: rgba(84, 83, 83, 0.373);
}

.leftIcon {
    position: absolute;
    color: white;
    bottom: 18px;
    left: 35px;
    cursor: pointer;
}

.rightIcon {
    position: absolute;
    color: white;
    bottom: 18px;
    right: 35px;
    cursor: pointer;
}

.cropRegion {
    display: flex;
    justify-content: center;
    margin: 20px 0px 10px 0px;
}