.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.body {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: 550px;
    width: 50%;
    min-width: 400px;
    margin: 0px 25px 0px 25px;
    padding: 25px;
    box-shadow: 0px 10px 50px -7px rgba(158, 157, 157, 0.75);
    border-radius: 25px;
}

.label {
    font-weight: 700;
}

.input {
    height: 25px;
    font-size: 14pt;
    margin: 5px 0px 5px 0px;
    border: none;
    border-bottom: 1px solid rgba(94, 94, 94, 0.437);
}

.progressBarContainer {
    display: flex;
    align-self: center;
    width: 80%;
}

.progressStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42px;
    font-size: 10pt;
}

.progressIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 3px solid rgb(200, 200, 200);
    border-radius: 50%;
}

.progressIconContainer.completed {
    z-index: 1;
    border: 3px solid rgb(57, 162, 51);
}

.progressIcon {
    padding: 10px;
}

.progressLine {
    margin-top: 20px;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, rgb(57, 162, 51) 50%, rgb(200, 200, 200) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.8s ease-out;
}

.progressLine.completed {
    background-position: left bottom;
}

.formBody {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.buttonContainer {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.button {
    color: rgba(180, 90, 180, 0.633);
    width: 150px;
    cursor: pointer;
    border: 1px solid rgba(180, 90, 180, 0.633);
    border-radius: 15px;
}

.cropArea {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.previewContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 550px;
    min-width: 350px;
    width: 350px;
    margin: 0px 25px 0px 25px;
    box-shadow: 0px 10px 50px -7px rgba(158, 157, 157, 0.75);
    border-radius: 25px;
}


@media only screen and (max-width: 600px) {
    .body {
        flex-direction: column;
    }
    .formContainer {
        margin-bottom: 25px;
        height: fit-content;
        width: 100%;
    }
    .previewContainer {
        height: 80vh;
        width: 100%;
    }
}


.imageContainer {
    position: relative;
    width: 100%;
    height: 45%;
    border-bottom: 4px solid rgba(180, 90, 180, 0.633);
}

.image {
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.previewContent {
    margin: 10px 15px;
}

.previewHeader {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(167, 166, 166, 0.558);
}

.bodyIcon {
    color: rgba(180, 90, 180, 0.633);
    margin: 0px 10px 3px 0px;
}

.subheader {
    display: flex;
    align-items: center;
    padding-top: 5px;
    color: rgba(82, 82, 82, 0.558);
}

.description {
    padding-top: 15px;
    color: rgb(145, 144, 144);
}