@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    color: #333;
    font-family: "Nunito", sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    color: white;
}
.logoText {
    font-size: 16pt;
    font-weight: 600;
    margin-left: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

footer {
    display: block;
    text-align: center;
    padding: 30px 0;
    margin-top: 60px;
    color: #777;
    border-top: 1px solid #eaeaea;
}

.load {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(148, 144, 144, 0.262);
}

.spin {
    z-index: 2;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid rgba(78, 106, 241, 0.49);
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}