.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    height: inherit;
    width: 0;
    box-shadow: 15px 0px 17px -7px rgba(158, 157, 157, 0.75);
    border-radius: 0px 25px 25px 0px;
    overflow-x: hidden;
    visibility: hidden;
    transition: 0.3s;
    max-width: 450px;
    padding: 5px 5px 0px 20px;
}

.container.show {
    visibility: visible;
    width: 40%;
    max-width: 450px;
}

@media only screen and (max-width: 600px) {
    .container {
        height: 0;
        bottom: 0;
        width: 100%;
    }
    .container.show {
        border-radius: 25px 25px 0px 0px;
        height: 60%;
        width: 100%;
        max-width: none;
    }
}

.closeIcon {
    z-index: 1;
    margin: 10px;
    align-self: flex-end;
    color: rgb(112,48,181);
    cursor: pointer;
}
.imageContainer {
    position: relative;
    width: 100%;
    height: 45%;
    border-bottom: 4px solid rgba(180, 90, 180, 0.633);
}

.image {
    object-fit: cover;
}

.previewContent {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}

.previewHeader {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(167, 166, 166, 0.558);
}

.bodyIcon {
    color: rgba(180, 90, 180, 0.633);
    margin: 0px 10px 3px 0px;
}

.subheader {
    display: flex;
    align-items: center;
    padding-top: 5px;
    color: rgba(82, 82, 82, 0.558);
}

.description {
    padding-top: 15px;
    color: rgb(145, 144, 144);
}

.joinButton {
    background-color: rgb(195, 74, 195);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 16pt;
    padding: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.joinButton:hover {
    background-color: rgb(159, 58, 159);
}