.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: absolute;
    width: 40%;
    max-width: 450px;
    height: inherit;
    padding: 5px 20px 0px 20px;
    left: -40%;
    transition: left 0.3s, visibility 0.3s;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 0px 17px -7px rgba(158, 157, 157, 0.75);
    border-radius: 0px 25px 25px 0px;
    overflow-x: hidden;
    visibility: hidden;
}

.container.show {
    visibility: visible;
    left: 0;
}

@media only screen and (max-width: 600px) {
    .container {
        height: 60%;
        left: auto;
        transition: bottom 0.3s, visibility 0.3s;
        bottom: -60%;
        width: 100%;
        border-radius: 25px 25px 0px 0px;
    }
    .container.show {
        bottom: 0;
        max-width: none;
    }
    .closeIcon {
        rotate: -90deg;
    }
}

.closeIcon {
    z-index: 1;
    margin: 10px 0px 0px 10px;
    align-self: flex-end;
    color: rgb(112,48,181);
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
}
.option {
    margin: 5px 10px 0px 0px;
}
.optionCheck {
    margin-right: 5px;
}
.checkContainer {
    display: flex;
    flex-wrap: wrap;
}

.submit {
    background-color: rgb(195, 74, 195);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 16pt;
    padding: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.submit:hover {
    background-color: rgb(159, 58, 159);
}