.map {
    width: 100%;
    height: 90vh;
    position: relative;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 1;
    background-color: rgba(148, 144, 144, 0.262);
}

.spinner {
    z-index: 2;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid rgba(78, 106, 241, 0.49);
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.popup {
    text-align: center;
    background-color: white;
    padding: 5px;
}