.headerContainer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.rightHead {
    display: flex;
}

.link, .link:hover, .link:visited, .link:active, .logout {
    margin-right: 25px;
    color: inherit;
    text-decoration: none;
}

.logout {
    cursor: pointer;
}