.headerContainer {
    height: 64px;
    padding: 0px 25px 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(112,48,181);
    color: white;
}
.right {
    display: flex;
    align-items: center;
}
.navLinksContainer {
    display: flex;
}

.link, .link:hover, .link:visited, .link:active {
    margin-left: 25px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.hamburgerIconContainer {
    display: none;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hamburgerIcon,
.hamburgerIcon::before,
.hamburgerIcon::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.hamburgerIcon::before {
    content: '';
    margin-top: -8px;
}
.hamburgerIcon::after {
    content: '';
    margin-top: 8px;
}
.show > .hamburgerIconContainer .hamburgerIcon::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
.show > .hamburgerIconContainer .hamburgerIcon {
    background: rgba(255, 255, 255, 0);
}
.show > .hamburgerIconContainer .hamburgerIcon::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media only screen and (max-width: 768px) {
    .headerContainer {
        padding: 0px 15px 0px 10px;
    }
    .show.headerContainer {
        z-index: 3;
        position: sticky;
        top: 0;
    }
    .hamburgerIconContainer {
        display: flex;
        cursor: pointer;
    }

    .navLinksContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .link, .link:hover, .link:visited, .link:active {
        margin: 0px;
        cursor: pointer;
    }
    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0;
        width: 100%;
        overflow: hidden;
        font-weight: 600;
        font-size: 15pt;
        background-image: linear-gradient(135deg,rgb(77, 38, 119) 0%,rgb(164, 104, 229) 50%);
        background-size: 200% 100%;
        transition: background-position .5s ease-in-out,
        height 400ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
    .link:hover {
        background-position: 100% 0;
    }
    .show > .navLinksContainer > .link {
        border-top: 1px solid rgba(252, 252, 252, 0.5);
        height: 2.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .show > .navLinksContainer > .link:last-child {
        border-bottom: 1px solid rgba(252, 252, 252, 0.5);
    }
    .mask {
        position: absolute;
        top: 64px;
        left: 0;
        height: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.412);
        z-index: 1;
        opacity: 0;
        transition: opacity 400ms ease-in-out;
    }
    .show > .mask {
        height: 100vmax;
        opacity: 1;
    }
}