.page {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    margin: 25px;
    height: 600px;
    min-width: 350px;
    max-width: 400px;
    box-shadow: 0px 10px 50px -7px rgba(158, 157, 157, 0.75);
    border-radius: 25px;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    background: rgb(112,48,181);
    background: radial-gradient(circle, rgba(145,84,209,1) 13%, rgba(112,48,181,1) 100%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
}

.setting {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about {
    margin: 10px 20px 0px 20px;
}

.right {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.carouselContainer {
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .page {
        flex-direction: column;
        margin: 20px;
    }
    .left {
        margin: 0px;
        flex-direction: row;
        max-width: none;
        min-width: auto;
        width: 100%;
        height: fit-content;
        box-shadow: none;
        border-radius: 0px;
    }
    .cardHeader {
        border-radius: 25px;
    }
    .right {
        width: 100vw;
        text-indent: 25px;
        margin-top: 25px;
    }
}
@media only screen and (max-width: 530px) {
    .left {
        flex-direction: column;
        width: 100vw;
        box-shadow: 0px 10px 50px -7px rgba(158, 157, 157, 0.75);
        border-radius: 25px;
    }
    .cardHeader {
        margin: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .about {
        margin: 0px;
        padding: 10px 20px 10px 20px;
    }
}